* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

.container {
  max-width: 980px;
  margin: 24px auto;
  padding: 16px;
}